<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/stylewalmart.css">
<link rel="stylesheet" type="text/css" href="css/dc.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
<title>Arch Investing</title>
</head>
<body>
<div class="linefoot">
</div>
<div class="linefooter">
</div>
<div class="line">
</div>
<div id="wrapper">
<div class="boxhead">
<div class="images">
  <a href="#">
    <img src="/img/login.jpg" alt="Clickable" />
  </a>
</div>
	<h2>
		<a href="index.html" style="margin-left:170px; float: left; width: 90px; margin-top: -42px; z-index: 1;"><span id="otherPage">Listings</span></a>
	</h2>
	<h2>
		<a href="myLink" style="margin-left: 310px; float: left; width: 60px; margin-top: -42px; z-index: 1;"><span id="otherPage1">General</span></a>
	</h2>
	<h2>
		<a href="myLink" style="margin-left: 450px; float: left; width: 60px; margin-top: -42px; z-index: 1;"><span id="otherPage2">Contact</span></a>
	</h2>
	<a href="index.html">
	<img src="/img/logo.png" alt="Mountain View" style=" float: left; margin-left: 0px; margin-top: -50px; z-index: 1;" alt="Clickable" />
	 </a>
</div>

</div>

<div id="wrapper">


Put What you want to add into this space. If you want me to position it please email me and i will. You can just add it in for now.

COMMENTING OUT WALMART HTML

<div class="walmarthomepage">
  <a href="https://www.google.com/finance?q=NYSE%3AWMT&ei=W5NOVOCMG4SnqQHKrIGYAw">
    <img src="/img/walmarthomepage.jpg" alt="Clickable" />
  </a>
</div>
<div class=texting>
<p>Own what you love.</p>
</div>
<div class=texting2>
<p>Buy the stock that you like!</p>
</div>
<div class="line4">
</div>
<div id="navring">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/d3.js"></script>
        <script src="/js/dc.js"></script>
        <script src="/js/dcring.js"></script>        
</div>
<div class="bottomtext">
<p>
This a bunch of writing that I am putting into my website. This a bunch of writing that I am putting into my website. This a bunch of writing that I am putting into my website<br />This a bunch of writing that I am putting into my website. This a bunch of writing that I am putting into my website. This a bunch of writing that I am putting into my website <br /> This a bunch of writing that I am putting into my website. This a bunch of writing that I am putting into my website.
</p>
</div>
</div>
</body>

</html>